/*Main*/
body {
	background-color: #d0d4db;
	height: 100%;
}

/*Nav Bar*/
.navbar {
	padding: 0 1rem;
	background-color: white;
}
.navbar .navbar-brand {
	height: 75px;
	line-height: 75px;
	padding: 0% 3rem;
	background-color: #59d6c1;
	color: white;
}
/*End Nav Bar*/

/*Main Content*/
.jumbotron {
	box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.4);
}
.container img {
	width: 200px;
}
.container h3 {
	color: #59d6c1;
}
.img-fluid {
	min-width: 100%;
}
.btn-success {
	background-color: #59d6c1;
}
.btn-success:hover {
	background-color: white;
	border: 1px solid black;
	color: black;
}
/*End Main Content*/

/*Portfolio*/
 .p-card {
    margin: 15px auto;
    padding: 0;
    border: 1px solid rgb(25, 25, 25, 0.1);
    border-radius: 5px;
    position: relative;
    box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.4);
}
.p-card img {
    width: 100%;
    margin: 0 auto;
}
.p-card h2 {
    position: absolute;
    bottom: 10px;
    text-align: center;
    color: #ffffff;
    background-color: #59d6c1;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
}
/*End Portfolio*/

/*Footer*/
footer {
    position: fixed;
    height: 50px;
    background-color: #76787a;
    color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    border-top: 2px solid #59d6c1;
}
/*End Footer CSS